#myname {
    background-color: #4aaaa5;
    width: 200px;
    padding: 20px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* Navigation Bar-----------------------------------------*/
#navbar {
    padding-right:32px;
    padding-bottom:5px;
   
}
#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
#boxfloat {
    padding-left: 32px;
}
li {
    display: inline;
}
a:link, a:visited {
    width: 120px;
    text-align: center;
    color: #777777;
    padding: 4px;
    text-decoration: none;
}
.navright {
    padding-right: 4px;
    border-right: solid 1px;
}
/* Navigation Bar End------------------------------------*/

footer {
    text-align: center;
    background-color: #666666;
    color: white;
    padding-top: 40px;
}

#maincontainer {
    padding-right:32px;
    padding-left:32px;
    padding-bottom: 25px;
    border-right: none;
    border-left: none;
    border-top: solid 1px #777777;
    border-bottom: solid 8px #4aaaa5;
    background-image: url(email-pattern.png);
}