#portfolio {
    color: #4aaaa5;
    margin-left: 32px;
    padding-top:20px;
    border-bottom:7px solid #4aaaa5;
    border-bottom-right-radius: 15px;
}

h4 {
    position:absolute;
    text-align: center;
    background-color:#4aaaa5;
    color:white;
    padding:10px;
    z-index:2;
    width: 180px;
    margin-left:20px;
    margin-top:125px;
}
#cloudy {
    margin-left: 10px;
}
#hangman {
    margin-top:-15px;
    margin-left: 10px;
}

#guesswho {
    margin-top: -15px;
    margin-left: 10px;
}
#llama {
    position:absolute;
    float:right;
    margin-left:240px;
    margin-top:-552px;
}

#rpg {
    position:absolute;
    float:right;
    margin-left:240px;
    margin-top:-372px;
}

.picbox {
    height: 150px;
    width: 200px;
    padding: 20px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.container:hover .picbox {
    opacity: 0.3;
    transform: skew(23deg);
  }
  

